<div>
  <h1>Chat</h1>
  <form class="goBack">
    <button class="btn btn-outline-secondary" type="submit">Volver</button>
  </form>
  <input id="chatbox" />
  {{#each msg as |obj|}}
    {{obj.socketid}}:
    {{obj.message}}
  {{/each}}
  <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>