<div>
  <h1>Iniciar sesion</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" class="input-group-text" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" class="input-group-text" />
    <br />
    <button type="submit" class="btn btn-outline-secondary">Iniciar sesion</button>
  </form>
  <div>
    <a href="/recover-password">
      <p>¿Olvidó su contraseña?</p>
    </a>
    <hr />
    <a href="/api/sessions/github">
      <button class="btn btn-outline-secondary">Inicia sesión con Github</button>
    </a>
  </div>
  <br />
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>