<div>
  <h1>Iniciar sesion</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" class="input-group-text" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" class="input-group-text" />
    <br />
    <button type="submit" class="btn btn-outline-secondary">Iniciar sesion</button>
  </form>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>