<h1>Ingrese su email</h1>
<form id="emailForm">
  <label for="">Email</label>
  <input name="email" type="email" class="input-group-text" />
  <br />
  <button type="submit" class="btn btn-outline-secondary">Confirmar</button>
</form>
<script src="/js/recoverPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>