<h1>Ingrese su nueva contraseña</h1>
<form id="passwordForm">
  <label for="">Nueva contraseña</label>
  <input name="password" type="password" class="input-group-text" />
  <br />
  <button type="submit" class="btn btn-outline-secondary">Confirmar</button>
</form>
<script src="/js/rescuePassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>